<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles/index.css') }}">
    <title>Manager</title>
</head>
<body>
    <div>
        <h1>
            <a href="/" style="color: black;" >Home</a>
            <a href="/player" style="color: black;" >Controls</a>
        </h1>
    </div>
    <div>
        <h1>
            <form method="POST">
                Nuke <input class="delete" type="submit" name="stop_vlc_button" value="stop">
            </form>
        </h1>
    </div>
    <div>
        {% for key in dictionary %}
            <!-- <select for="{{ key }}"> {{ key }}</label> -->
            <h1>
                 {{ key }} 
                 <form method="POST">
                    <input class="delete" type="submit" name="delete_button" value="{{ key }}/">
                    <input class="play" type="submit" name="play_playlist_button" value="{{ key }}">
                </form>
            </h1>
            {% for values in dictionary[key] %}
                <!-- <option value="{{ values }}"> {{ values }} </option> -->
                <div class="fileList">
                    <h3 style="display: inline-flex;"> 
                        {{ values }}
                        <form method="POST">
                            <input class="delete" type="submit" name="delete_button" value="{{ key }}/{{ values }}">
                            <input class="play" type="submit" name="play_button" value="{{ key }}/{{ values }}">
                        </form>
                    </h3> 
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>