
.centerDiv {
    display:flex;
    justify-content: center;
}

.secondCenterDiv {
    display:flex;
    justify-content: center;
}

.delete {
    padding-top: 1.3rem;
    margin-left: 0;
    border: 0;
    border-radius: 0;
    border-width: 0;
    color: transparent;
    background: transparent;
    background-image: url("../images/trashcan.png");
    background-repeat: no-repeat;
    background-size: 1.5rem;
    width: 1.7rem;
    height: 1.8rem;
    font-size: 0%;
    margin-bottom: 0;
    margin-top: 0;
}

.delete:hover {
    cursor: pointer;
}

.play {
    padding-top: 1.3rem;
    margin-left: 0;
    border: 0;
    border-radius: 0;
    border-width: 0;
    color: transparent;
    background: transparent;
    background-image: url("../images/playbutton.png");
    background-repeat: no-repeat;
    background-size: 1.5rem;
    width: 1.7rem;
    height: 1.8rem;
    font-size: 0%;
    margin-bottom: 0;
    margin-top: 0;
}

.play:hover {
    cursor: pointer;
}

@media only screen and (min-width: 700px) {
    body {
        background: rgb(41, 41, 41);
    }
}


